*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px transparent;
    border-radius: 10px;
    background-color: transparent;
    z-index: 999;
}

*::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
    z-index: 999;
}

@font-face {
    font-family: "Pixellet";
    src: url('../../public/fonts/pixellet.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Staatliches";
    src: url('/fonts/Staatliches-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px transparent;
    background-color: gainsboro;
    z-index: 999;
}


.subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.6rem;
    font-weight: normal;
    letter-spacing: 2px;
    color: #fff;
    background-color: transparent;
    z-index: 99;
    margin-bottom: 80px;
    text-align: center;
}

.main-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    backdrop-filter: hue-rotate(120deg);
    align-items: center;
}



.horizontal-container-1 {
    display: flex;
    border: 2px solid rgba(217, 7, 126, 0.995);
    box-shadow: 0 0 10px rgba(188, 19, 254, 0.4);
    border-radius: 0.5em;
    box-shadow: 0 0 10px #c6afd0c5;
    padding: 30px 40px;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 40px;
    background-color:#d61e9b4b;
    color: aliceblue;
    width: 80%;
}

.horizontal-container-2 {
    display: flex;
    border: 2px solid rgba(217, 7, 126, 0.995);
    box-shadow: 0 0 10px rgba(188, 19, 254, 0.4);
    border-radius: 0.5em;
    box-shadow: 0 0 10px #c6afd0c5;
    padding: 30px 40px;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 40px;
    background-color:#d61e9b4b;
    color: aliceblue;
    width: 80%;
}


.img-container, .img-container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.description-container {
    width: 70%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    border-radius: 0.5em;
    background-color: transparent;
    width: 90%;
    height: 254px;
    perspective: 1000px;
    
}

.frontSide,
.backSide {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
    color: white;
    box-shadow: 0 0 0.3em rgba(232, 206, 229, 0.895);
    font-size: 1.2rem;
    font-weight: 700;
    opacity: 0.85;
}


.frontSide,
.frontSide::before {
    background: linear-gradient(43deg, #FF66C4 0%, #38B6FF 46%, #FF66C4 100%);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

.backSide,
.backSide::before {
    background-image: linear-gradient(160deg, #a52fb8 0%, #cbacd3 100%);
}

.backSide {
    transform: rotateX(180deg);
    font-size: 1.2rem;
    padding: 3%;
}

.frontSide::before,
.backSide::before {
    transform: scale(-50%, -50%);
    content: '';
    width: 100%;
    z-index: -1;
    border-radius: 1em;
    filter: blur(20px);
    animation: animate 5s linear infinite;
}

.innerCard {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.description-container:hover .innerCard {
    transform: rotateX(180deg);
}

.activity-title {
    font-family: 'pixellet', sans-serif;
    line-height: 2;
    font-size: 2.3rem;
    color: rgba(103, 46, 143, 0.884);
    text-align: center;
    text-shadow:
        0 0 7px #ffffff7e,
        0 0 10px #ffffff7e,
        0 0 21px #ffffff7e,
        0 0 42px #d749af59,
        0 0 82px #d769c844,
        0 0 92px #df6dce5e,
        0 0 102px #b552ab44,
        0 0 151px #c976bf4b;
}

.frontSide p {
    color:rgb(252, 250, 249);
}

.frontSide .tap {
    margin-top: 5%;
    color:rgb(252, 250, 249);
    font-family: 'Orbitron';
    font-size: 1.0rem;
    font-weight: 300;
}


@keyframes animate {
    0% {
        opacity: 0.3;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0.3;
    }
}

@media screen and (max-width: 1320px) {
 
    .horizontal-container-1 {
        flex-direction: column;
        flex-wrap: wrap;
        padding: 30px 15px 30px 15px;
    }

    .horizontal-container-2 {
        flex-wrap: wrap-reverse;
        padding: 30px 15px 30px 15px;
    }


    *::-webkit-scrollbar {
        width: 0px;
    }


    .frontSide::before,
    .backSide::before {
        -webkit-font-smoothing: subpixel-antialiased;
        filter: none;
    }

    .frontSide,
    .backSide {
        -webkit-font-smoothing: subpixel-antialiased;
        font-size: 0.5rem;
        font-size: 0.9rem;
        text-align: center;
        filter: none;
    }

    .backSide {
        padding: 5px;
    }

    .description-container {
        flex-direction: column;
        width: 100%;
    }    

    .activity-title {
        font-size: 1.8rem;
        line-height: 1;
        margin-bottom: 10%;
    }

    .frontSide p {
        font-size: 1.1rem;
    }

    .frontSide .tap {
        font-size: 0.8rem;
        margin-top: 10%;
    }

    .img-container-2 {
        margin-left: 23%;
    }

    .img-container, .img-container-2 {
        margin-top: 5%;
        margin-bottom: 5%;
    }
}