*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px transparent;
    border-radius: 10px;
    background-color: transparent;
    z-index: 999;
}

*::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
    z-index: 999;
}

@font-face {
    font-family: "Pixellet";
    src: url('../../public/fonts/pixellet.ttf');
    font-weight: normal;
    font-style: normal;
}



*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px transparent;
    background-color: gainsboro;
    z-index: 999;
}


.btn-class-name {
    color: rgb(254, 234, 246);
    border-radius: 0.5em;
    transition: 0.3s;
    background-color: rgba(254, 1, 154, 0.2);
    fill: rgb(56, 182, 255);
    font-family: monospace;
    font-weight: bolder;
    font-size: large;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    cursor: pointer;
    border: 2px solid rgb(56, 182, 255);
    box-shadow: 0 0 10px rgba(254, 1, 154, 0.4);
    outline: none;
    display: flex;
    align-items: center;
    padding: 0.5em 1em;
    margin: 1em;

}

.main-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    backdrop-filter: hue-rotate(120deg);
    align-items: center;
}


.card-container {
    margin: 2rem 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    row-gap: 40px;
}



/* Container for the grid layout */
.grid-container {
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 80%;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    /* Two columns */
    column-gap: 100px;
    row-gap: 30px;
    /* Adjust the gap between containers */
}

/* Style for vertically long containers */
.vertical-container {
    border: 2px solid rgb(99, 40, 235);
    border-radius: 0.5em;
    box-shadow: 0 0 10px rgba(254, 1, 154, 0.4);
    padding: 20px;
    margin: auto;
    background-color: rgba(99, 40, 235, 0.2);
    color: aliceblue;
    width: 100%;


}

/* Style for horizontally long container */
.horizontal-container {
    grid-column: span 2;
    border: 2px solid rgb(254, 1, 154);
    border-radius: 0.5em;
    box-shadow: 0 0 10px rgba(254, 1, 154, 0.4);
    padding: 20px;
    margin: auto;
    background-color: rgba(254, 1, 154, 0.2);
    color: aliceblue;
    width: 100%;
}

.horizontal-container .card-container {
    margin: 2rem 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
}

.myCard {
    background-color: transparent;
    width: 70%;
    height: 254px;
    perspective: 1000px;
}

.card-title {
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;
    margin: 0;
    font-family: "pixellet";
    
}

.innerCard {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.myCard:hover .innerCard {
    transform: rotateX(180deg);
}

.frontSide,
.backSide {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    color: white;
    box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
    font-weight: 700;
    opacity: 0.85;
}

.frontSide,
.frontSide::before {
    background: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 46%, rgb(255, 204, 112) 100%);
}

.backSide,
.backSide::before {
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.backSide {
    transform: rotateX(180deg);
}

.frontSide::before,
.backSide::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 102%;
    height: 102%;
    position: absolute;
    z-index: -1;
    border-radius: 1em;
    filter: blur(20px);
    animation: animate 5s linear infinite;
}
.titleone {
   color: black;
}
.titletwo{
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;

}

@keyframes animate {
    0% {
        opacity: 0.3;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0.3;
    }
}



@media screen and (max-width: 768px) {
    .grid-container {
        display: flex;
        flex-direction: column;
        width: 95%;

    }

    .horizontal-container .card-container {
        flex-direction: column;
    }

    *::-webkit-scrollbar {
        width: 0px;

    }

    .card-title {
        font-size: 1.5rem;

    }

    .card-subtitle {
        font-size: 1rem;
    }

    .frontSide::before,
    .backSide::before {

        filter: blur(0px);
    }

    .frontSide,
    .backSide {

        filter: blur(0px);
    }
}
