footer {
	background-color: #000000ab;
	color: white;
	padding: 20px 0;
	position: relative;
	bottom: 0;
	width: 100%;
	backdrop-filter: hue-rotate(60deg);
	
}

.footer-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 10px 30px;
	margin: 0px;
}

.text-container {
	text-align: left; /* Align text to the left */
	
}

.socials-svgs {
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 20px;
}



@media (max-width: 1320px) {
	.footer-container {
		flex-direction: column;
		text-align: center;
		margin: 0px;
		font-size: 0.8rem;
	}



	.socials-svgs {
		margin-top: 20px;
	}
}

