@font-face {
    font-family: "Pixellet";
    src: url('../../public/fonts/pixellet.ttf');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "Staatliches";
    src: url('/fonts/Staatliches-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}


.subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.6rem;
    font-weight: normal;
    letter-spacing: 2px;
    color: #fff;
    background-color: transparent;
    z-index: 99;
    margin-bottom: 40px;
}

.main-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    backdrop-filter: hue-rotate(90deg);

}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px transparent;
    border-radius: 10px;
    background-color: transparent;
    z-index: 999;
}

*::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
    z-index: 999;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px transparent;
    background-color: gainsboro;
    z-index: 999;
}

.vertical-container {
    width: 100%;
    padding: 0px 70px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    column-gap: 40px;
}

.dept-container-left {
    border: 2px solid rgb(255, 230, 0);
    border-radius: 0.5em;
    box-shadow: 0 0 10px rgba(255, 230, 0, 0.4);
    padding: 50px;
    margin: 30px;
    background-color: rgba(255, 230, 0, 0.5);
    color: white;
    width: 90%;
}

.dept-container-right {
    border: 2px solid rgb(254, 1, 154);
    border-radius: 0.5em;
    box-shadow: 0 0 10px rgba(254, 1, 154, 0.4);
    padding: 50px;
    margin: 30px;
    background-color: rgba(255, 102, 196, 0.5);
    color: white;
    width: 90%;
}

.dept-container-left h1 {
    text-align: right;

}

.dept-container-right h1 {
    text-align: center;
    color: rgb(20, 20, 87);
    color: white;
    font-family: 'pixellet';
}

.sides-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2px;
}

.dept-text-container {
    text-align: center;
    width: 45%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;


}

.dept-pic-container {
    width: 40%;
}

.titleone {
    font-family: 'pixellet', sans-serif;
    line-height: 1;
    font-size: 3rem;
    color: white;
    text-align: center;
    text-shadow:
        0 0 7px #ffffff7e,
        0 0 10px #ffffff7e,
        0 0 21px #ffffff7e,
        0 0 42px #45dde259,
        0 0 82px #45dde244,
        0 0 92px #45dde25e,
        0 0 102px #45dde244,
        0 0 151px #45dde24b;
}

.titletwo {
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
}

.names{
    font-family: 'staatliches';
    font-size: 1.5rem;
}

@media screen and (max-width:1320px) {
    .dept-container-left {
        flex-direction: column;
    }

    .dept-container-right {
        flex-direction: column;
    }

    .vertical-container {
        padding: 0px;
    }

    .sides-container {
        flex-direction: column;
        row-gap: 30px;
    }

    .dept-text-container {
        width: 100%;
        row-gap: 0px;
    }

    .dept-pic-container {
        width: 100%;
    }

    .titleone {
        font-size: 2rem;
    }

    .titletwo{
        font-size: 1.5rem;
        margin-bottom: 30px;
    }
}